body{
    
    text-align: center;
    margin: 0;
    font-family: 'Merriweather', serif;
    font-size: 100%;
    line-height: 2;
    
}
.top-container{
    background-color: rgb(230, 248, 242);
    position: relative;
    padding-top: 100px; 
}
.bottom-container{
    background-color:#66bfbf;
    padding: 50px 0 20px;
   
}


.top_cloud{
   position: absolute;
   right: 300px;
   top: 50px;
   width: 150px;
   height: 100px;
}
.bottom_cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
    width: 100px;
    height: 100px;
}


h1{
    font-family: 'Sacramento', cursive;
    font-size: 4.6875rem;
    margin:50px auto 0 auto;
    color: cadetblue;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    color: #00918e;
    
}
h3{
    font-family: 'Montserrat', sans-serif;   
    color:#55ae95;
    
    
}

   

.propic{
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    padding-top: 50px;
}
.skill-row{
   width: 50%;
   margin: 100px auto 100px auto;
   text-align: left;
}
.chillies{
    width: 25%;
    float: left;
    margin-right: 30px;
    border-radius: 50%;
}
.code{
   width: 25%;
   float: right;
   margin-left: 30px;
   border-radius: 50%;
   
}
    

hr{
    border-style: dotted none none;
    border-color: rgb(182, 181, 181);
    border-width: 5px;
    width: 5%;
    margin: 100px auto 100px auto;
}
.footer-link{
    color: #00918e;
    display: inline-block;
  
}
a{
    margin: 10px 20px;
    font-family: 'Merriweather', serif;
    text-decoration: none;
}
a:hover{
    color: #eaf6f6;
}
.btn{
    margin: 25px auto 25px auto;
    box-shadow: 0px 10px 14px -7px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #66cccc 100%);
	background-color:#768d87;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:18px;
	padding:10px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2b665e;

}
.btn:hover {
	background:linear-gradient(to bottom, #66cccc 5%, #768d87 100%);
	background-color:#66cccc;
}
.btn:active {
	position:relative;
	top:1px;
}
.p{
    
    font-size: small;
    color: #eaf6f6;
}